{% extends "base.html" %}

{% block title %} Todo App | Home {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
    <header>
        <nav class="navbar">
            <!-- Site Logo -->
            <div class="nav-logo">
                <a href="url_for(main.home')">Rave's Todo App</a>
            </div>

            <!-- Nav Link -->
            <ul class="nav-links">
                <li><a href="/">Source Code</a></li>
                <li><a href="/">My Github</a></li>
                {% if logged_in == False %}
                    <li><a href="/signup">Sign UP</a></li>
                {% else %}
                    <li><a href="/account">Account</a></li>
                    <li><a href="#todos">Todos</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div class="welcome-div">
            <p class="welcome-text">{{ greeting }}, {{ f_name }}...</p>
            <p class="comp-text">{{ wlc_msg}}</p>
        </div>

        <div class="tasks">
            <button onclick="openCon('newTodo')" class="n-task">New Todo</button>
            <button onclick="openCon('editTodo')" class="e-task">Edit Task</button>
            <button class="chg-status">Change Task Status</button>
            <button class="d-task">Delete Task</button>
        </div>

        <div class="newTodo closableCon new-todo-con-con hide-con">
            <div class="new-todo-con">
                <div class="create-todo-form-title">
                    <button onclick="closeCon('newTodo')">&times;</button>
                    <p>Create Todo</p>
                </div>
                <form class="create-todo-form" action="url_for('todo.new_todo')" method="post">
                    <label for="title">Title: </label>
                    <input placeholder="eg. Edit Vfx in Client Irl Video" type="text" name="title" id="title">
                    <label for="details">Details: </label>
                    <textarea name="details"
                        placeholder="eg. Edit vfx in the 3rd minute of client Irl china tour clip using rotoscoping in After Effects."
                        id="details"></textarea>
                    <label for="deadline">Due-Date: </label>
                    <input type="date"
                        name="deadline"
                        id="deadline"
                        min="">
                </form>
                <div class="create-todo-form-btn-con"><button class="create-todo-form-btn">Create</button></div>
            </div>
        </div>

        <div id="todos" class="todo-text-con">
            <p class="todo-text">TODO</p>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TITLE</th>
                        <th>DETAILS OF TASK</th>
                        <th>DEADLINE</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
            </table>
            
            <table>
                <tbody>
                    {% for each in lists %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ each['title'] }}</td>
                            <td>{{ each['detail'] }}</td>
                            <td>2-Days, 3-Hours, 5-Min</td>
                            <td onclick="inlineChangeStatus(this)" style="cursor: pointer;" id="{{ loop.index }}" class="{{ each['status'] }}">{{ each['status'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <div class="block-screen-beneath"></div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
